/* Top Bar */
.top-bar {
    background-color: rgb(88, 42, 15);
    position: sticky;
    padding: 4px;
    font-size: 15px;
}

.left-items, a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
}

.right-items {
    display: flex;
}

/* For icons in the right items */
.social-icons {
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

.social-icons:hover {
    opacity: 1;
}

/* Text color in dark sections */
.text-dark span {
    color: blue;
}

/* Container with Fluid Layout */
.container-fluid {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hero Section */
#hero {
    background-image:  url(../IMG_1156.JPG);
    background-size: cover; 
    height: 500px; 
    background-repeat: no-repeat; 
    width: 1500px;
}


/* Button styling */
.form-group button {
    height: 100%; 
    border-radius: 0 5px 5px 0; 
    padding: 0 15px; 
}

/* Custom font */
.custom-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic; 
    color: #333; 
}

/* Font Families */
.a {
    font-family: "Audiowide", sans-serif;
}

.c-text {
    font-family: "Trirong", serif;
}

/* Card Styles */
.card-body {
    padding: 20px;
}

.text-center h3 {
    margin-top: 20px;
}
body {
    overflow-x: hidden;
}

.carousel-inner {
    width: 100%;
    overflow: hidden; 
}
.carousel-item img {
    width: 100%;
    height: auto;
}

/* Responsive layout */
@media (max-width: 768px) {
    .carousel-inner {
        flex-direction: column;
    }

    .carousel-item {
        flex: 1 0 100%;
    }
}
/* Mobile Responsiveness */

@media (max-width: 768px) {
    .top-bar {
        font-size: 14px; /* Smaller font size for mobile */
    }
    .container-fluid {
        padding: 10px; /* More padding for smaller screens */
    }

    /* Hero text styling */
    #hero h1 {
        font-size: 24px;
    }

    .custom-font {
        font-size: 14px; 
    }
    .card-body {
        padding: 15px;
    }

    .form-group button {
        font-size: 14px;
    }

    .social-icons {
        font-size: 1.2rem; 
    }
}
.pic{
    background-image: url(../IMG_1222.JPG);
    color:white;
    background-size:cover; 
    background-repeat: no-repeat; 
    height: 400px; 
}
.apic {
    background-image:  url(../IMG_1273.JPG);
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 400px; 
}

/* Larger devices */
@media (min-width: 768px) {
    .top-bar {
        font-size: 16px;
    }
    #hero h1 {
        font-size: 36px;
    }
    .custom-font {
        font-size: 18px;
    }
}

/* Large screens */
@media (min-width: 1200px) {
    .container-fluid {
        padding: 20px;
    }
    #hero h1 {
        font-size: 48px;
    }
}
